.main-wrapper {
    display: flex;
    height: calc(100vh - 50px);
    overflow: hidden;
    // padding: 10px;
    .left-container {
        padding: 10px 8px;
        width: 215px;
        h6 {
            border-bottom: 1px dotted #ccc;
            padding: 10px 0 5px 0;
        }
        .emp-nav {
            ul {
                font-size: 13px;
                margin: 0;
                padding: 0;
                li {
                    background: #fff;
                    list-style: none;
                    a {
                        color: #666;
                        display: block;
                        margin: 0 0 1px 0;
                        padding: 8px 12px;
                        &:hover {
                            background: #f8f8f8;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    .content-area {
        background: #fff;
        flex: 1;
        overflow: auto;
        margin: 0 0 5px 0;
        padding: 20px;
        &.login {
            background: transparent;
        }
        h6 {
            border-bottom: dotted 1px #ccc;
        }
        .emp-list {
            font-size: 14px;
            thead th, tbody td {
                &:first-child {
                    width: 150px;
                }
            }
            thead th, tbody td {
                padding: 12px 10px;
            }
            thead {
                border: none;
                tr {
                    background: #cae0e6;
                }
            }
            tbody {
                border: none;
                tr {
                    &:nth-child(even) {
                        background: #f9f9f9;
                        &:hover {
                            background: #f5fcff;
                        }
                    }
                }
            }
            .actions {
                text-align: center;
                width: 125px;
                i {
                    cursor: pointer;
                    margin: 0 10px 0 0;
                }
            }
        }
    /* For Progress bar styles */ 
    .emp-register-tabs {
        margin: 15px 0 10px 0;
    }
  /* Responsive Arrow Progress Bar */
  .arrow-steps {
      margin: 0 0 15px 0;
      width: 100%;
    .step {
        background-color: #ddd;
        color: #777;
        cursor: default;
        float: left;
        font-size: 14px;
        margin: 0 1px 0 0;
        padding: 8px 50px;
        position: relative;
        text-align: center;
        a {
            color: #777;
            text-decoration: none;
        }
        &:after, &:before {
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #ddd;
            z-index: 2;
        }
        &.current {
            color: #fff;
            background-color: #94b52d;
            a {
                color: #fff;
                text-decoration: none;
            }
            &::after {
                border-left: 17px solid #94b52d;
            }
        }
        span {
            position: relative;
        }
        &.done {
            color: #173352;
            background-color: #94b52d;
            a {
                color: #173352;
                text-decoration: none;
            }
            &::after {
                border-left: 17px solid #94b52d;
            }
        }
        &::before {
            right: auto;
            left: 0;
            border-left: 17px solid #fff;
            z-index: 0;
        }
        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        &:first-child:before, &:last-child:after {
            border: none;
        }
    }
    
  }
    *.arrow-steps .step.done span:before {
        content: "✓";
        position: absolute;
        top: 2px;
        left: -20px;
        font-size: 11px;
    }
        
    .emp-registration {
        margin: 0 auto;
        width: 85%;
    }
    .add-employee, .back {
        background: #e5e5e5;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #000;
        font-size: 12px;
        margin: 0 0 10px 0;
        padding: 3px 6px;
            i {
                margin: 0 5px 0 0;
            }
        }
    }
}