.user-profile {
    border: 1px solid #ccc;
    border-top-right-radius: 50px;
    border-top-right-radius: 50px;
    margin: 15px auto;
    width: 85%;
    .user {
        color: #ccc;
        font-size: 100px;
    }
}