<h5>Employee Registration <a href="#/home" class="right back"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a></h5>
<small>Please fill in the form below to register.</small>
<div class="emp-registration">
	<div class="emp-register-tabs">
		<!-- Responsive Arrow Progress Bar -->
		<div class="arrow-steps clearfix">
			<div class="step current"> <span> <a href="javascript:void(0);" >Employee Info</a></span> </div>
			<div class="step"> <span><a href="avascript:void(0);" >Address</a></span> </div>
			<div class="step"> <span><a href="javascript:void(0);" >Experience</a></span> </div>
			<div class="step"> <span><a href="javascript:void(0);" >Salary Breakup</a></span> </div>	
		</div>
	</div>

	<div class="emp-details">
		<div id="step1">
			
		</div>
				
		</div>
	</div>
</div>