<h5>Employee Registration <a href="#/home" class="right back"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a></h5>
<small>Please fill in the form below to register.</small>
<div class="emp-registration">
	<div class="emp-register-tabs">
		<!-- Responsive Arrow Progress Bar -->
		<div class="arrow-steps clearfix">
			<div class="step current"> <span> <a href="javascript:void(0);" >Employee Info</a></span> </div>
			<div class="step"> <span><a href="#/address" >Address</a></span> </div>
			<div class="step"> <span><a href="javascript:void(0);" >Experience</a></span> </div>
			<div class="step"> <span><a href="javascript:void(0);" >Salary Breakup</a></span> </div>	
		</div>
	</div>

	<div class="emp-details">
		<div id="step1">
			<form>
				<div class="clearfix"><small class="right required">mandatory fields.</small></div>
				<div class="grid-x grid-margin-x">
					<div class="cell small-4">
						<label for="Employee-ID" class="mandatory">Employee ID</label>
						<input type="text" id="Employee-ID" name="Employee-ID input" placeholder="Employee-ID">
					</div>
					<div class="cell small-4">
						<label for="first-name" class="mandatory">First name</label>
						<input type="text" id="first-name" name="first name input" placeholder="First name">
					</div>
					<div class="cell small-4">
						<label for="last-name" class="mandatory">Last name</label>
						<input type="text" id="last-name" name="last name input" placeholder="Last name">
					</div>
				</div>
				<div class="grid-x grid-margin-x">
					<div class="cell small-4">
						<div class="grid-x grid-margin-x">
							<div class="cell small-4">
									<label for="Male">Male</label>
									<select>
										<option value="Select">Select</option>
										<option value="Male">Male</option>
										<option value="Female">Female</option>
										<option value="Others">Others</option>
			
									</select>
								</div>
								<div class="cell small-4">
									<label for="MaritalStatus">MaritalStatus</label>
									<select>
										<option value="Select">Select</option>
										<option value="Married">Married</option>
										<option value="Un Married">Un Married</option>
										<option value="Single">Single</option>
									</select>
								</div>
								<div class="cell small-4">
									<label for="Blood-Group">Blood-Group</label>
									<select>
										<option value="Select">Select</option>
										<option value="A+ve">A+ve</option>
										<option value="A-ve">A-ve</option>
										<option value="B+ve">B+ve</option>
										<option value="B-ve">B-ve</option>
										<option value="AB+ve">AB+ve</option>
										<option value="AB-ve">A-ve</option>
										<option value="O+ve">O+ve</option>
										<option value="O-ve">O-ve</option>
									</select>
								</div>
						</div>
					</div>
					<div class="cell small-4">
						<label for="Date-Of-Joining">Designation</label>
						<input type="text" id="designation" name="designation" placeholder="designation">
					</div>
					<div class="cell small-4">
						<label for="location">Location</label>
						<input type="text" id="location" name="location" placeholder="Location">						
					</div>
				</div>
				<div class="grid-x grid-margin-x">
					<div class="cell small-4">
						<label for="D.O.B">D.O.B</label>
						<input type="date" id="D.O.B" name="D.O.B input" placeholder="D.O.B" value="date">
					</div>
					<div class="cell small-4">                        
						<label for="Date-Of-Joining">Date-Of-Joining</label>
						<input type="date" id="Date-Of-Joining" name="Date-Of-Joining input" placeholder="Date-Of-Joining" value="Date-Of-Joining">
					</div>
					<div class="cell small-4">
						<label for="Date=Of-Relieving">Date-Of-Relieving</label>
						<input type="date" id="Date-Of-Relieving" name="Date-Of-Relieving input" placeholder="Date-Of-Relieving" value="">
					</div>
				</div>
				<div class="grid-x grid-margin-x">
					<div class="cell small-4">
						<label for="email">Email</label>
						<input type="email" id="email" name="email input" placeholder="Email" required>
					</div>
					<div class="cell small-4">
						<label for="PAN-CARD">Pan-Card</label>
						<input type="text" id="PAN-CARD" name="PAN-CARD input" placeholder="Pan-Card" value="">
					</div>
					<div class="cell small-4">
						<label for="Aadhar-Card-Number">Aadhar-Card-Number</label>
						<input type="text" id="Aadhar-Card-Number" name="Aadhar-Card-Number input" placeholder="Aadhar-Card-Number" value="">
					</div>
				</div>
				<div class="grid-x grid-margin-x">
					<div class="cell small-4">
						<label for="Pass-Port-Number">Pass-Port-Number</label>
						<input type="text" id="Pass-Port-Number" name="Pass-Port-Number input" placeholder="Pass-Port-Number" value="">
					</div>
					<div class="cell small-4">
						<label for="PassPort-IssueDate">PassPort-IssueDate</label>
						<input type="date" id="PassPort-IssueDate" name="PassPort-IssueDate input" placeholder="PassPort-IssueDate" value="">
					</div>
					<div class="cell small-4">
						<label for="passPor-tExpiryDate">PassPort-ExpiryDate</label>
						<input type="date" id="passPort-ExpiryDate" name="passPort-ExpiryDate input" placeholder="PassPort-ExpiryDate" >
					</div>
				</div>
			</div>
				<div class="nav clearfix text-center"><br />
					<button type="button" class="prev button small" id="" onclick="return handleChange()">Previous</button>
					<button type="button" class="next button small" id="steptwosubmit" onclick="return handleChange()">Save & Next</button>
				</div>
			</form>
		</div>
	</div>
</div>