<div class="emp-registration">

	<div class="emp-details">
		<div id="step1">
			<form>
				<div class="grid-x grid-margin-x">
					<!-- <div class="cell small-4">
						<label for="father-name">Father Name</label>
						<input type="text" id="father-name" name="father-name input" placeholder="Father Name">
					</div> -->
					<div class="cell small-4">
                        <label for="Address1">Address Line 1</label>
                        <textarea name="" id="Address1" cols="30" rows="2"></textarea>
					</div>
					<div class="cell small-4">
                        <label for="Address2">Address Line 2</label>
                        <textarea name="" id="Address2" cols="30" rows="2"></textarea>
                    </div>
                    <div class="cell small-4">
                        <label for="Date-Of-Joining">City</label>
                        <input type="text" id="city" name="city" placeholder="City">
                    </div>
				</div>
				<div class="grid-x grid-margin-x">
					<div class="cell small-4">
                        <div class="cell small-4">
                            <label for="state">State</label>
                            <select>
                                <option value="Select">Select</option>
                                <option value="state">Andhrapradesh</option>
                                <option value="Female">Telangana</option>
                            </select>
                        </div>
					</div>
					<div class="cell small-4">
						<label for="zipcode">Zip Code</label>
						<input type="text" id="zipcode" name="zipcode" placeholder="zipcode">						
                    </div>
                    <div class="cell small-4">
                        <label for="phone-number">Phone Number</label>
                        <input type="text" id="phone-number" name="phone-number input" placeholder="Phone Number">
                    </div>
				</div>
				<div class="grid-x grid-margin-x">
                    <div class="cell small-4">
                        <label for="landline-number">Lineline Number</label>
                        <input type="text" id="landline-number" name="landline-number input" placeholder="Landline Number">
                    </div>
                    <div class="cell small-4">
                        <label for="Emergency Contact Person">Emergency Contact Person</label>
                        <input type="text" id="emergencyContactPerson" name="emergencyContactNum input" placeholder="Emergency Contact Person" value="">
                    </div>
                    <div class="cell small-4">
                        <label for="emergencyContactNum">Emergency Contact Number</label>
                        <input type="email" id="emergencyContactNum" name="emergencyContactNum input" placeholder="Emergency Contact Number" required>
                    </div>
                </div>
			</div>
			</form>
		</div>
	</div>
</div>