<form id="addressForm">
    <div class="grid-x grid-margin-x">
        <!-- <div class="cell small-4">
<label for="father-name">Father Name</label>
<input type="text" id="father-name" name="father-name input" placeholder="Father Name">
</div> -->
        <div class="cell small-4 control-group address1">
            <label for="Address1">Address Line 1</label>
            <textarea name="address1" id="address1" cols="30" rows="2"></textarea>
        </div>
        <div class="cell small-4 control-group address2">
            <label for="Address2">Address Line 2</label>
            <textarea name="address2" id="address2" cols="30" rows="2"></textarea>
        </div>
        <div class="cell small-4 control-group city">
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="City">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-4 control-group state">
            <div class="cell small-4">
                <label for="state">State</label>
                <select name="state" id="state">
                    <option value="">Select</option>
                    <option value="andhrapradesh">Andhrapradesh</option>
                    <option value="telangana">Telangana</option>
                </select>
            </div>
        </div>
        <div class="cell small-4 control-group zipCode">
            <label for="zipcode">Zip Code</label>
            <input type="number" id="zipCode" name="zipCode" placeholder="zipcode">
        </div>
        <div class="cell small-4 control-group phoneNumber">
            <label for="phone-number">Phone Number</label>
            <input type="number" id="phoneNumber" name="phoneNumber" placeholder="Phone Number">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-4 control-group landlineNumber">
            <label for="landline-number">Landline Number</label>
            <input type="number" id="landlineNumber" name="landlineNumber" placeholder="Landline Number">
        </div>
        <div class="cell small-4 control-group emergencyContactPerson">
            <label for="Emergency Contact Person">Emergency Contact Person</label>
            <input type="text" id="emergencyContactPerson" name="emergencyContactPerson" placeholder="Emergency Contact Person" value="">
        </div>
        <div class="cell small-4 control-group emergencyContactNum">
            <label for="emergencyContactNum">Emergency Contact Number</label>
            <input type="number" id="emergencyContactNum" name="emergencyContactNum" placeholder="Emergency Contact Number" required>
        </div>
    </div>
    </div>
    <div class="nav clearfix text-center">
        <br />
        <button type="button" class="prev button small" id="">Previous</button>
        <button type="button" class="next button small" id="submitAddressNext">Save & Next</button>
    </div>
</form>