<div class="small-12 cell clearfix">
    <a id="addEmpButton" class="right small add-employee" href="#/addEmp"><i class="fa fa-address-card" aria-hidden="true"></i> Add Employee</a>
</div>
<div class="small-12 cell" id="gridReg">

    </div>