<div class="small-12 cell">
    <a id="addEmpButton" class="right small add-employee" href="#/addEmp"><i class="fa fa-address-card" aria-hidden="true"></i> Add Employee</a>
</div>
<div class="small-12 cell" id="gridReg">
        <table>
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>gender</th>
                </tr>
            </thead>
            <tbody>
                
                {{#if empList.Success}}
                {{#each empList.Success}}
                <tr>
                        <td>{{this.empId}}</td>
                        <td>{{this.firstName}}</td>
                        <td>{{this.gender}}</td>
                </tr>
                {{/each}}
               {{else}}
             <p class="alert callout text-center no-results">No Record found</p>
            {{/if}}
            </tbody>
        </table>
    </div>