<div class="login-wrapper">
    {{#if error_type}}
        <div class="callout {{error_class}}">
            <h5>{{error_type}}</h5>
            <p>{{error_message}}</p>
        </div>
    {{/if}}
    <a href="https://nisum.com" class="logo" target="_blank"><img src="../assets/images/logo.png" alt="" height="100" width="110" /></a>
    <div class="container">
        <div class="title">Welcome to HR Portal</div>
        <p>Sign In with Google account only</p>
        <button  id="login-btn" class="small button success" type="submit">Sign In</button>
    </div>
</div>
