
<h5>My Profile</h5>
<div class="user-profile">
    <i class="fa fa-user-circle-o right profile-icon" aria-hidden="true"></i>
    <div class="profile">
        <div class="grid-x grid-margin-x">
            <div class="cell small-3">
                <label for="">Employee Name</label>
            </div>
            <div class="cell small-9">
                <h4>Vanava Raju Adabala</h4>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-3">
                <label for="">Employee ID</label>
            </div>
            <div class="cell small-9">
                <h5>16431</h5>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-3">
                <label for="">Designation</label>
            </div>
            <div class="cell small-9" >
                Principle UI Engineer
            </div>
        </div>

        <div class="grid-x grid-margin-x details">
            <div class="cell small-2">
                <label for="">Email</label>
            </div>
            <div class="cell small-4" >
                vadabala@nisum.com
            </div>
            <div class="cell small-2">
                <label for="">Experience</label>
            </div>
            <div class="cell small-4" >
                6 Years
            </div>
        </div>
        <div class="grid-x grid-margin-x details">
            <div class="cell small-2">
                <label for="">Date of Joining</label>
            </div>
            <div class="cell small-4" >
                23rd Nov 2017
            </div>
            <div class="cell small-2">
                <label for="">Date of Birth</label>
            </div>
            <div class="cell small-4" >
                23rd Nov 2017
            </div>
        </div>
        <div class="clearfix text-center">
            <button type="button" class="prev button small" id="">Save</button>
            <button type="button" class="next button secondary small" id="">Cancel</button>
        </div>
    </div>
</div>