<header>
    <a href="https://nisum.com" class="logo text-center" target="_blank"><img src="../assets/images/logo.png" alt="" height="45" width="110" /></a>
    <div class="curve-shape"></div>
    <nav>
        <ul class="dropdown menu text-center left" data-dropdown-menu>
          <li><a href="#/home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
    <div class="module-title">HR Portal </div>
    <div class="user-info">
      <span>{{userObj.userName}}</span> &nbsp;
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
      <div class="user-details">
        <ul>
          <li><a href="#/myProfile"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a></li>
          <li><a id="logout_user"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
      </div>
    </div>
</header>