
      <form id="salaryForm">
        <div class="grid-x grid-margin-x">
          <div class="cell small-4 control-group baseSalary">
						<label for="base-salary">Basic</label>
						<input type="text" id="baseSalary" name="baseSalary" placeholder="Basic pay">
					</div>
          <div class="cell small-4 control-group hra">
						<label for="hra">HRA</label>
						<input type="text" id="hra" name="hra" placeholder="HRA">
					</div>
          <div class="cell small-4 control-group reimbursment">
						<label for="reimbursment">Medical Reimbursment</label>
						<input type="text" id="reimbursment" name="reimbursment" placeholder="Reimbursment">
					</div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell small-4 control-group providentFund">
						<label for="base-salary">Provident Fund</label>
						<input type="text" id="providentFund" name="providentFund" placeholder="Provident Fund">
					</div>
        </div>
        <div class="nav clearfix text-center"><br />
          <button type="button" class="prev button small" id="showExperience">Previous</button>
          <button type="button" class="next button small" id="submitSalary">Save</button>
        </div>
      </form>
