<div class="left-container">
    <h6><i class="fa fa-address-book" aria-hidden="true"></i> HR Operations</h6>
    <div class="emp-nav">
    <ul>
        <li><a href="#/home">Dashboard</a></li>
        <li><a href="">Reports</a></li>
    </ul>
    </div>
</div>
             